# **UTS Penambangan Data**

Nama :M. Hilmi Fajrul Alam

NIM :210411100175

Kelas :Penambangan Data-C

### **Soal**

Lakukan analisa data klasifikasi dengan sumber data https://github.com/kb22/Heart-Disease-Prediction/blob/master/dataset.csv dengan menggunakan naive bayes dan knn untuk data

### **Naive Bayes**

**1. Import library**

> Langkah pertama import library pandas, numpy, dan sklearn yang diperlukan

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

**2. import data**

> Langkah selanjutnya adalah mengimport data kita yang berada di github

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/hilmifa23/9d8aebbc95ad5cb8f46658e7f4656d08/raw/1bd719678c2c22defe99de7c60e03bf61b44330b/dataset.csv')

jumlah_baris = df.shape[0]
df.head(jumlah_baris)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

**3. Mengecek nilai**

> Pada langkah ini kita akan mengecek apakah ada nilai yang hilang atau kosong pada data

In [ ]:
df_copy = df.copy()
df_copy.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**4. Mengganti nilai**

> Pada langkah ini kita akan mengganti nilai yang mengandung tanda tanya (?) menjadi nilai kosong.

In [ ]:
df_copy = df_copy.replace('?',np.nan)

**5. Mengecek nilai**

> Selanjutnya kita cek lagi apakah terdapat nilai kosong atau tidak

In [ ]:
df_copy.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**6. Mengecek tipe data**

> Selanjutnya kita akan memeriksa tipe data yang ada. Jika terdapat tipe data yang bukan numerik atau float, maka perlu dilakukan perubahan tipe data.

In [ ]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

**7. Melakukan normalisasi data**

> Pada langkah ini kita akan melakukan normalisasi data. Normalisasi data adalah proses mengubah nilai-nilai dalam rentang 0 hingga 1. Salah satu metode yang dapat digunakan adalah metode min-max, yaitu dengan menggunakan rumus x-min / max-min.

In [ ]:
target_column = df_copy['target']
df_copy = df_copy[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']].copy()
df_copy = (df_copy - df_copy.min())/(df_copy.max() - df_copy.min())
df_copy['target'] = target_column.copy()
df_copy.head(jumlah_baris)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333,1
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667,1
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667,1
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667,1
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000,0
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000,0
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000,0
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000,0
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667,0

**8. Pemotongan Data**

> Selanjutnya kita akan memisahkan data traning dan data test. Untuk memisahkan data menjadi data training dan data test, dapat dilakukan dengan mudah menggunakan metode train_test_split() dari pustaka sklearn:

> features_train berisi kumpulan data fitur yang digunakan untuk melatih model, sedangkan features_test berisi data fitur yang digunakan untuk menguji performa model. Target_train adalah variabel yang berisi target atau output yang diharapkan untuk setiap sampel dalam features_train, sedangkan target_test berisi target atau output yang diharapkan untuk setiap sampel dalam features_test.

In [ ]:
features = df_copy.values[:,:13]
target = df_copy.values[:,13] 
features_train, features_test, target_train, target_test = train_test_split(features,target, test_size = 0.33, random_state = 10)

**9. Implementasi Gaussian Naive Bayes**

> Setelah menyelesaikan tahap preprocessing data, langkah berikutnya adalah menerapkan algoritma machine learning atau pembelajaran mesin.

In [ ]:
clf = GaussianNB()
clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)

**10. Akurasi model**

In [ ]:
accuracy = accuracy_score(target_test, target_pred, normalize = True)

print(f"Akurasi model KNN: {accuracy:.2%}")

Akurasi model KNN: 79.00%

**Kesimpulan**

> Dari hasil yang telah disajikan, dapat disimpulkan bahwa model tersebut memiliki akurasi sebesar 79,00%. Hal ini mengindikasikan bahwa model tersebut dapat memprediksi sekitar 79,00% kasus dengan tepat.

### **KNN**

**1. Import library**

> Langkah pertama import library pandas, numpy, dan sklearn yang diperlukan

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.preprocessing import LabelEncoder

**2. import data**

> Langkah selanjutnya adalah mengimport data kita yang berada di github

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/hilmifa23/9d8aebbc95ad5cb8f46658e7f4656d08/raw/1bd719678c2c22defe99de7c60e03bf61b44330b/dataset.csv')

jumlah_baris = df.shape[0]
df.head(jumlah_baris)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

**3. Mengecek nilai**

> Pada langkah ini kita akan mengecek apakah ada nilai yang hilang atau kosong pada data

In [ ]:
df_copy = df.copy()
df_copy.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**4. Mengganti nilai**

> Pada langkah ini kita akan mengganti nilai yang mengandung tanda tanya (?) menjadi nilai kosong.

In [ ]:
df_copy = df_copy.replace('?',np.nan)

**5. Mengecek nilai**

> Selanjutnya kita cek lagi apakah terdapat nilai kosong atau tidak

In [ ]:
df_copy.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**6. Mengecek tipe data**

> Selanjutnya kita akan memeriksa tipe data yang ada. Jika terdapat tipe data yang bukan numerik atau float, maka perlu dilakukan perubahan tipe data.

In [ ]:
target_column = df_copy['target']
df_copy = df_copy[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']].copy()
df_copy = (df_copy - df_copy.min())/(df_copy.max() - df_copy.min())
df_copy['target'] = target_column.copy()
df_copy.head(jumlah_baris)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333,1
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667,1
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667,1
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667,1
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000,0
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000,0
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000,0
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000,0
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667,0

**7. Menginisialisasi objek**

>Setelah melakukan inisialisasi objek dari kelas KNeighborsRegressor yang menggunakan algoritma K-Nearest Neighbors untuk regresi, adalah melakukan pengacakan indeks dari dataset dengan np.random.permutation() menggunakan seed 1 agar hasilnya konsisten. Setelah itu, dataset dibagi menjadi 75% data untuk training dan 25% untuk testing, yang disimpan di variabel training_data dan testing_data dengan menggunakan variabel train_index.

> Setelah model dilatih, prediksi dilakukan pada data testing dengan memanggil method predict() pada objek knn dengan input berupa fitur-fitur dari data testing yang ingin diprediksi.

> Kemudian, akurasi model dihitung dengan mengukur persentase data testing yang berhasil diprediksi dengan threshold default 0.5.

> Langkah terakhir adalah mencetak hasil akurasi model.

In [ ]:
knn = KNeighborsRegressor()

np.random.seed(1)
index_shuffled = np.random.permutation(df_copy.index)
shuffled_car_data = df_copy.loc[index_shuffled]

train_index = int(shuffled_car_data.shape[0] * 0.75)
training_data = shuffled_car_data.iloc[0:train_index]
testing_data = shuffled_car_data.iloc[train_index:]

knn.fit(training_data[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']], training_data['target'])

prediction = knn.predict(testing_data[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']])

accuracy = np.mean(np.abs(prediction - testing_data['target']) <= 0.5)

print(f"Akurasi model KNN: {accuracy:.2%}")

Akurasi model KNN: 92.11%

**Kesimpulan**

> Dari hasil yang telah disajikan, dapat disimpulkan bahwa model KNN memiliki akurasi sebesar 92,11%. Hal ini mengindikasikan bahwa model tersebut dapat memprediksi sekitar 92,11% kasus dengan tepat.